<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfinal.objectengine.mapper.CustomMenuMapper">

    <resultMap id="BaseResultMap" type="com.myfinal.objectengine.domain.CustomMenu">
            <id property="id" column="id" />
            <result property="parentId" column="parent_id" />
            <result property="menuName" column="menu_name" />
            <result property="menuType" column="menu_type" />
            <result property="objectApiName" column="object_api_name" />
            <result property="routePath" column="route_path" />
            <result property="component" column="component" />
            <result property="icon" column="icon" />
            <result property="sort" column="sort" />
            <result property="status" column="status" />
            <result property="visible" column="visible" />
            <result property="target" column="target" />
            <result property="remark" column="remark" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,menu_name,menu_type,object_api_name,route_path,
        component,icon,sort,status,visible,
        target,remark,created_at,updated_at
    </sql>
</mapper>
